<div class="box-bundle clear">

  <div class="box">
    <img src="http://placehold.it/250x150" alt=""/>
    <div class="group-btn clear">
      <button class="btn pull--left">Like</button>
      <button class="btn pull--right">Comment</button>
    </div>
  </div>

  <div class="box">
    <img src="http://placehold.it/250x150" alt=""/>
    <div class="group-btn clear">
      <button class="btn pull--left">Like</button>
      <button class="btn pull--right">Comment</button>
    </div>
  </div>

  <div class="box">
    <img src="http://placehold.it/250x150" alt=""/>
    <div class="group-btn clear">
      <button class="btn pull--left">Like</button>
      <button class="btn pull--right">Comment</button>
    </div>
  </div>

  <div class="box">
    <img src="http://placehold.it/250x150" alt=""/>
    <div class="group-btn clear">
      <button class="btn pull--left">Like</button>
      <button class="btn pull--right">Comment</button>
    </div>
  </div>

  <div class="box">
    <img src="http://placehold.it/250x150" alt=""/>
    <div class="group-btn clear">
      <button class="btn pull--left">Like</button>
      <button class="btn pull--right">Comment</button>
    </div>
  </div>

  <div class="box">
    <img src="http://placehold.it/250x150" alt=""/>
    <div class="group-btn clear">
      <button class="btn pull--left">Like</button>
      <button class="btn pull--right">Comment</button>
    </div>
  </div>

</div>
