<div class="grayFill">
  <ul class="navbar">
    <li class="navbar"><a href="dashboard">Home</a></li> // reput this back in because we were docked 10% for not having it in the last milestone
    <li class="navbar"><a href="dashboard">Dashboard</a></li>
    <li class="navbar"><a href="search">Search</a></li>
    <li class="navbar"><a href="profile">Profile</a></li>
  </ul>
</div>
