<div class="grayFill">
  <ul class="navbar">

    <li class="navbar"><a href="dashboard">Dashboard</a></li>
    <li class="navbar"><a href="search">Search</a></li>
    <li class="navbar"><a href="save">Saved</a></li>
    <li class="navbar"><a href="profile">Profile</a></li>
    <li class="navbar"><a href="/logout">Logout</a></li>

  </ul>
</div>
