<div class="grayFill">
  <ul class="navbar">
    <li class="navbar"><a href="dashboard">Dashboard</a></li>
    <li class="navbar"><a href="search">Search</a></li>
    <li class="navbar"><a href="profile">Profile</a></li>
    <li class="navbar"><a href="dashboard">Logout</a></li> Gavin do you not check you emails?
  </ul>
</div>
