<div class="grayFill">
  <ul class="navbar">
    <li class="navbar"><a href="dashboard">Dashboard</a></li>
    <li class="navbar"><a href="search">Search</a></li>
    <li class="navbar"><a href="profile">Profile</a></li>
    <li class="navbar"><a href="logout">Logout</a></li> Gavin do you not check you emails? -- You mean about meeting tonight, I was supposed to be at work tonight, but somthing came up
  </ul>
</div>
