/*----- CSS for Nav Bar ----*/

li.navbar {
  display: inline;

}

ul.navbar{
  border: 1px solid black;
}

a{
  text-decoration: none;
}
a:hover{
  color: black;
}




/* -------------------------*/

h1 {
  color:blue;
  }
