/*----- CSS for Nav Bar ----*/

li.navbar {
  display: inline;


}
ul.navbar{
  border: 1px solid black;
}

a{
  text-decoration: none;
  color: white;

}
.link{
  color: white;
}
.whiteFont{
  color: white;
}
a:hover{
  color: black;
}

.backgroundImage{
  background-image: url(http://licei4.ucoz.ru/_nw/0/21916307.jpg);
  background-repeat: no-repeat;
  background-color: #d3d3d3;

}


/* -------------------------*/
.center{
  text-align: center;
}
h1 {
  color:blue;
  }
