<!DOCTYPE html>
<html>

<head>
  <title> Dashboard </title>
    <meta name="charset" content="utf-8">
    <meta name="description" content="Pictures, Likes, Comments">
    <link rel="stylesheet" href="/css/shaun.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>

  <div class="bundle">

    <header>
      <div class="crunch">
        <h1>Dashboard</h1>
      </div>
    </header>

<!-- NavBar -->
{{> menu}}

    <div class="section">
      <div class="crunch">
        <div class="box-bundle clear">

          <div class="box">
            <img src="http://placehold.it/250x150" alt=""/>
            <div class="group-btn clear">
              <button class="btn pull--left">Like</button>
              <button class="btn pull--right">Comment</button>
            </div>
          </div>

          <div class="box">
            <img src="http://placehold.it/250x150" alt=""/>
            <div class="group-btn clear">
              <button class="btn pull--left">Like</button>
              <button class="btn pull--right">Comment</button>
            </div>
          </div>

          <div class="box">
            <img src="http://placehold.it/250x150" alt=""/>
            <div class="group-btn clear">
              <button class="btn pull--left">Like</button>
              <button class="btn pull--right">Comment</button>
            </div>
          </div>

          <div class="box">
            <img src="http://placehold.it/250x150" alt=""/>
            <div class="group-btn clear">
              <button class="btn pull--left">Like</button>
              <button class="btn pull--right">Comment</button>
            </div>
          </div>

          <div class="box">
            <img src="http://placehold.it/250x150" alt=""/>
            <div class="group-btn clear">
              <button class="btn pull--left">Like</button>
              <button class="btn pull--right">Comment</button>
            </div>
          </div>

          <div class="box">
            <img src="http://placehold.it/250x150" alt=""/>
            <div class="group-btn clear">
              <button class="btn pull--left">Like</button>
              <button class="btn pull--right">Comment</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="push"></div>

  </div>

</body>
</html>
