<!DOCTYPE html>
<html>

<head>
  <title> Dashboard </title>
    <meta name="charset" content="utf-8">
    <meta name="description" content="Pictures, Likes, Comments">
    <link rel="stylesheet" href="/css/shaun.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>

  <div class="bundle">

    <header>
      <div class="crunch">
        <h1>Dashboard</h1>
      </div>
    </header>

<!-- NavBar -->
{{> menu}}

    <div class="section">
      <div class="crunch">
        {{{body}}}
      </div>
    </div>

    <div class="push"></div>

  </div>

</body>
</html>
