<!DOCTYPE html>
<html>

<head>
  <title> {{{title}}} </title>
    <meta name="charset" content="utf-8">
    <meta name="description" content="Pictures, Likes, Comments">
    <link rel="stylesheet" href="/css/Index.css">
    <link rel="stylesheet" href="/css/Profile.css">
    <link rel="stylesheet" href="/css/Search.css">
    <link rel="stylesheet" href="/css/Dashboard.css">

</head>

<body>

  <div class="bundle">

    <header>
      <div class="crunch">
        <h1>{{{title}}}</h1>
      </div>
    </header>

<!-- NavBar -->
{{> menu}}

    <div class="section">
      <div class="crunch">
        {{{body}}}
      </div>
    </div>

    <div class="push"></div>

  </div>

</body>
</html>
