<!DOCTYPE html>

<head>
  <title> Search </title>
    <meta name="charset" content="utf-8">
    <meta name="description" content="Pictures, Likes, Comments">
    <link rel="stylesheet" href="shaun.css">
    <link rel="stylesheet" href="swede.css">
    <script src="search.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>

<body>

  <div class="bundle">

    <header>
      <div class="crunch">
        <h1>Search</h1>
      </div>
    </header>

<!-- NavBar -->
    <div class="grayFill">
      <ul class="navbar">
        <li class="navbar"><a href="https://instagram.com/"><image src="http://www.cityofboston.gov/images_documents/instagram40_tcm3-36282.png" alt="Twitter"></a></image></li>
        <li class="navbar"><a href="dashboard.html">Dashboard</a></li>
        <li class="navbar"><a href="search.html">Search</a></li>
        <li class="navbar"><a href="Profile.html">Profile</a></li>
      </ul>
    </div>

		<div class="searches">
			<div>
			Place your search terms below to find all related posts.
			</div>
			<div class="error-message">

			</div>

			<div class="input-wrapper clear">
				<input class="text-field" type="text" name="query" placeholder="">
				<input class ="buttons left-side search" type="submit" value="Search">
				<input class ="buttons left-side save" type="submit" value="Save">
				
			</div>

			<div class="left-side clear">
				  <div class="box">
					  <img src="http://placehold.it/250x150" alt=""/>
					  <div class="clear">
						  <input class="buttons left-side" type="submit" value="Like">
						  <input class="buttons right-side" type="submit" value="Comment">
					  </div>
				  </div>

				  <div class="box">
					  <img src="http://placehold.it/250x150" alt=""/>
					  <div class="clear">
						  <input class="buttons left-side" type="submit" value="Like">
						  <input class="buttons right-side" type="submit" value="Comment">
					  </div>
				  </div>

				  <div class="box">
					  <img src="http://placehold.it/250x150" alt=""/>
					  <div class="clear">
						  <input class="buttons left-side" type="submit" value="Like">
						  <input class="buttons right-side" type="submit" value="Comment">
					  </div>
				  </div>

				  <div class="box">
					  <img src="http://placehold.it/250x150" alt=""/>
					  <div class="clear">
						  <input class="buttons left-side" type="submit" value="Like">
						  <input class="buttons right-side" type="submit" value="Comment">
					  </div>
				  </div>

				  <div class="box">
					  <img src="http://placehold.it/250x150" alt=""/>
					  <div class="clear">
						  <input class="buttons left-side" type="submit" value="Like">
						  <input class="buttons right-side" type="submit" value="Comment">
					  </div>
				  </div>

				  <div class="box">
					  <img src="http://placehold.it/250x150" alt=""/>
					  <div class="clear">
						  <input class="buttons left-side" type="submit" value="Like">
						  <input class="buttons right-side" type="submit" value="Comment">
					  </div>
				  </div>

			</div>
		</div>

		<ul class="saved-searches">
			<li>Saved searches:</li>
			<li><a class="link" href="#">#linux</a></li>
			<li><a class="link" href="#">#programming</a></li>
			<li><a class="link" href="#">#stuff</a></li>
			<li><a class="link" href="#">#apples</a></li>
			<li><a class="link" href="#">#usu</a></li>
			<li><a class="link" href="#">#html</a></li>
		</ul>


	</body>

</html>
