<div>
  </br>
  <hr/>
  <div class="border">
    <p>
    </br>
      <h3 class="leftSpace"> Please sign in below to access your Instagram account</h3>
    </p>
    </br>
      <a href="login"><button class = "center">Sign In</button></a>
    </br>
  </br>
  </br>
  </br>
  </div>
  </br>
  </br>
  </br>
  <hr/>
</div>
