<h1>Login Form:</h1>
<p style="color: red;">
  {{error}}
</p>
<form class="login" action="" method="post">
  <p>
    <label for="username">Username</label>
    <input type="text" name="username" value="" placeholder="username">
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" value="" placeholder="password">
  </p>
  <input type="submit" name="submit" value="submit">
</form>
