<!-- <div>
  </br>
  </br>
  <a href="./login">Log back into Instagram </a>
<div> -->
</br>
<div style="background-image: url(https://wallpaperscraft.com/image/instagram_logo_symbol_social_site_social_network_92819_1920x1080.jpg)">
    </hr>
  </br>
    <div class="border">
    </br>
        <p>
            <h3 class="leftSpace">Logout Successful</h3>
        </p>
        <a href="login"><button class = "center">Sign back in with Instagram</button> <!--need to update this to go to dashboard if already authenticated-->
        </a>
    </div>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
</div>
