<div class="profileData">
<div class="userPic">
{{feed.username}}

<p>
  <img src="{{feed.profile_picture}}"/>
</p>
</div>




<!--Name-->
<div class="profileName"
  <form method="post" action="">
    <input type="text" class="rounded" name="query" placeholder="{{feed.full_name}}">
  </form>
</div>
<!--End Name-->



<!--Bio-->
<div class="profileBio"
  <form method="post" action="">
    <textarea name="Bio" class="rounded" cols="36" rows="10">{{feed.bio}}
    </textarea><br>
  </form>
</div>
<!--End Bio-->




<!--save button-->
<a href="">
  <button class = "sigBtn">
     Save
  </button>
</a>
</div>
