<div class="centered">


  <!--Profile Picture-->
  <div class="profilePic">
    <img src="http://placehold.it/300x200"/>
  </div>
  <!--End Profile Picture-->
  
  
</div>

<div class="rounded">
  <div class="centered">
  
  
    <!--Name-->
    <div class="profileName"
      <form method="post" action="">
        <input type="text" class="rounded" name="query" placeholder="Name">
      </form>
    </div>
    <!--End Name-->


    <!--email-->
    <div class="profileEmail"
      <form method="post" action="">
        <input type="text" class="rounded" name="query" placeholder="Email">
      </form>
    </div>
    <!--End email-->


    <!--Bio-->
    <div class="profileBio"
      <form method="post" action="">
        <textarea name="Bio" class="rounded" cols="36" rows="10">Bio
        </textarea><br>
      </form>
    </div>
    <!--End Bio-->
    
    
  </div>
</div>


<!--save button-->
<a href="">
  <button class = "center">
     Save
  </button>
</a>
