<div class="searches">
	<div class="instruction">
		Place your search terms below to find all related posts.
	</div>
	<div class="error-message">

	</div>

	<div class="input-wrapper clear">
		<form method="post">
			<input class="text-field" type="text" name="query" value="{{{search_query}}}">
			<input class="buttons left-side search" type="submit" formaction="/search" value="Search">
			<input class="buttons left-side save" type="submit" formaction="/save" value="Save">
		</form>
	</div>

	<div class="left-side clear">
		{{>box-imgs}}
	</div>

</div>
