
/* GENERIC PAGE */

.right-side {
	float: right;
}

.left-side {
	float: left;
}

/* END GENERIC PAGE */

.input-wrapper {
	float: left;
	padding: 10px;
	display: inline-block;
	margin: 0% 27%;
}


.buttons {
	background: #FFF;
	border: solid 1px #CCC;
	line-height: 25px;
	text-align: center;
	width: 95px;
}


.save {
	width: 100px;

}

.search {
	margin-right: 5px;
	width: 100px;
}

.text-field{
	border: solid 1px #CCC;
	float: left;
	height: 25px;
	margin-right: 5px;
}

.searches {
	color: black;
	float: left;
	width: 900px;
	margin-left: 20%;
}

.saved-searches {
	float: left;
	list-style-type: none;
	color: black;
	margin-top: 3%;
}

.instruction {
	margin: 0% 27%;
}

.link {
	color: black;
	line-height: 1em;
	font-size: 23px;
	padding: 8px;
	display: block;
}

.error {
	border: solid 2px red;
}

.error-message {
	color: red;
}


.clear:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
}

.clear {
  display: block;
  float: none;
  clear: both;
}
